* {
  margin: auto; }

#nav {
  width: 100%;
  height: 90px;
  background-color: #4B4548;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #262124; }

#nav h1 {
  float: left;
  padding: 25px 20px 25px 20px; }

#nav ul {
  list-style: none;
  text-align: center; }

#nav li a {
  color: #262124;
  font-size: 20px;
  padding: 30px 20px 30px 20px;
  float: right;
  text-decoration: none; }

#button:hover {
  background: #beb8bb; }

.cover {
  width: 100%;
  height: 500px;
  background-color: #FFBCE3; }

.cover h1 {
  text-align: center;
  padding: 125px 0px 125px 0px;
  color: #FF78C7;
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

.cover p {
  text-align: center;
  color: #FF78C7;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.cover #p1 {
  font-size: 15px;
  margin-top: 15px; }

.bio {
  width: 100%;
  height: 700px;
  background-color: #FFC3C5; }

.bio h1 {
  color: #FF787C;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
  padding: 60px 0px 30px 130px; }

.bio p {
  color: #FF787C;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: block;
  text-align: left;
  padding-left: 130px;
  margin: 0 0 10px;
  margin-bottom: 20px;
  line-height: 100px; }

.bio img {
  vertical-align: middle; }

.bio-pic1 {
  border-radius: 50%;
  margin-top: -50;
  margin-right: 100px;
  display: block;
  position: absolute;
  top: 650px;
  right: 5px; }

.work {
  width: 100%;
  height: 900px;
  background-color: #BFFFBC;
  text-align: center;
  padding-top: 90px; }

.work h1 {
  color: #0ad600;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-bottom: 50px; }
 .rigs ul {
  list-style: none;
  font-size: 0px;
  margin-left: -2.0%; }
/**
#button2:hover {
  background-color: #0ad600; }
**/
.rigs li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 30px 30px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box; }

.columns-2 li {
  width: 47.5%; }

.rigs li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px; }

.rig li h3 {
  margin: 0 0 5px; }

.rip li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999; }

#button3:hover {
  background-color: white;
  border-radius: 5%; }

.connect {
  width: 100%;
  height: 500px;
  background-color: #E9FFBC; }

.connect h1 {
  font-family: "Montserrat", sans-serif;
  color: #639200;
  font-size: 35px;
  text-align: center;
  padding-top: 90px; }

.connect p {
  font-family: "Montserrat", sans-serif;
  color: #639200;
  font-size: 20px;
  text-align: center;
  padding-top: 80px; }

.connect ul {
  list-style: none;
  text-align: center;
  padding-top: 80px; }

.connect li {
  margin: 10px 15px 20px 15px;
  display: inline-block; }

.connect li a {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #639200;
  text-decoration: none; }

#footer {
  width: 100%;
  height: 90px;
  background-color: #4B4548;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #262124; }

#button4:hover {
  background: #beb8bb; }

#footer ul {
  list-style: none;
  text-align: center; }

#footer li a {
  color: #262124;
  font-size: 11px;
  padding: 30px 20px 30px 20px;
  float: left;
  text-decoration: none; }

#footer p {
  text-align: center;
  float: right;
  padding: 30px 20px 30px 20px; }

/*# sourceMappingURL=index.css.map */
