@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
/** Mobile first approach! **/
/** Default styles **/
* {
  margin: 0; }

html {
  width: 100%;
}

p {
  max-width: 500px;
  margin: 0 auto 20px;
}

strong {
  font-family: 'Roboto';
  line-weight: 700;
}

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%; }

.sticky {
  width: 100%;
 }

/** Specific elements **/
/** Header & Navigation **/
nav {
  display: none;
}
/**
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

nav ul li {
  font-family: "roboto";
  font-size: 0.875em; }

nav ul li a {
  color: #f8cdd4;
  cursor: pointer; }

nav a:hover {
  border-bottom: 2px solid #e2304f;
  color: #e2304f; }

nav a:visited {
  color: #da1f3f; }
**/

/** Landing page **/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto';
  color:  #e85d75;
  text-shadow: 0px 4px 3px rgba(116, 29, 55, 0.4),
               0px 8px 13px rgba(116, 29, 55, 0.1),
               0px 18px 23px rgba(116, 29, 55, 0.1);
  background: url(https://images.unsplash.com/photo-1451342695181-17c97b85aab4?crop=entropy&dpr=2&fit=crop&fm=jpg&h=775&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450);
  background-size: cover;
}

.container h1 {
  font-size: 4em;
  font-weight: 700;
}

.container h4 {
  font-size: 1.5em;
  font-weight: 300;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  border: 0;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.more {
  background-color: #e85d75;
  border: 0px;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 1em;
  color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.more a {
  color: #f7f7f7;
}

.more:hover {
  background-color: #06cd68;
}

.more:active {
  background-color: darken(#06cd68, 10%);
}

.more:visited {
  background-color: darken(#06cd68, 15%);
}
/** About / General Info **/
.general-info {
  padding-top: 20px;
  padding-bottom: 40px; }

.general-info,
.general-info > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
  opacity: 0.80; }

.about-me {
  padding-top: 20px;
  font-size: 1.3em; }

.hey {
  font-size: 1.1em; }

.role-title {
  font-size: 1em; }

.about-me,
.hey,
.role-title {
  color: #e54762;
  font-family: "roboto"; }

.text-info {
  margin: 25px;
  text-align: center;
  color: #e54762;
  font-family: "open sans";
  font-size: 0.875em;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 35px; }

.me {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 250px; }

.me:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/** Skills **/
.skills {
  background-color: #fbe3e7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #e85d75;
  padding-bottom: 60px; }

.skills h1 {
  padding: 50px 0 20px;
  font-family: "roboto";
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #e54762; }

#teehee {
  font-family: "roboto";
  font-size: 0.200em; }

.skills p {
  text-align: center;
  font-family: "open sans";
  font-size: 0.875em;
  line-height: 40px; }

.list {
  color: #e54762; }

/** Project Info **/
.project-info {
  background-color: #f7f7f7; }

.project-info > h1 {
  text-align: center;
  padding-top: 50px;
  color: #ee8a9b;
  font-family: "roboto";
  font-size: 1.3em; }

.project-boxes-1 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px; }

/** Add actual screen shots, links & hover effects & <a> effects **/
.item img {
  padding-bottom: 10px;
  max-width: 55%;
  border-radius: 5px; }

.item {
  text-align: center;
  padding: 20px; }

.item a {
  color: #eb7388;
  font-family: "roboto";
  font-size: 0.875em; }

.item a:hover {
  color: #f2a0ae;
  border-bottom: #f2a0ae; }

.item a:visited {
  color: #e85d75; }

/** Contact Section **/
.contact-info {
  background: url("Images/bg.png");
  opacity: 0.90;
  color: #e2304f;
  padding-bottom: 50px; }

.contact-info h1 {
  font-family: "roboto";
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center; }

.field {
  font-family: "open sans";
  font-size: 0.875em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px; }

.field label {
  margin-bottom: 10px; }

#name,
#email {
  width: 60%;
  height: 20px;
  border-radius: 5px;
  border: none; }

#message {
  border-radius: 5px;
  width: 60%;
  height: 120px;
  border: none; }

/** Add hover effects **/
button[type="submit"] {
  background-color: #06cd68;
  font-size: 1.1em;
  color: #f7f7f7;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

button[type="submit"]:hover {
  background-color: #e2304f;
  color: white; }

.contact-links {
  margin-left: -40px; }

.contact-links ul {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-links ul a {
  padding: 30px;
  color: #e85d75;
  font-family: "open sans";
  font-size: 0.875em; }

.contact-links ul a:hover {
  color: #e2304f;
  border-bottom: #e2304f; }

.contact-links ul a:visited {
  color: #da1f3f; }

.contact-links img {
  padding-top: 30px;
  max-width: 30%; }

footer {
  background-color: white;
  color: #e85d75;
  font-family: "roboto";
  font-size: 0.875em;
  padding-bottom: 10px; }

.left-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  color: #07e574; }

.right-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 10px; }

.right-links ul a {
  margin: 15px;
  color: #e85d75;
  cursor: pointer; }

.right-links ul a:hover {
  margin: 15px;
  color: #e2304f;
  border-bottom: 1px solid #e2304f; }

.right-links ul a:visited {
  margin: 15px;
  color: #de2040; }

/** Media Queries!! **/
@media screen and (min-width: 434px) {
  .skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .contact-links img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 50px;
    padding-bottom: 20px; } }
@media screen and (min-width: 500px) {
  .contact-links img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 50px;
    padding-bottom: 20px; } }
@media screen and (min-width: 600px) {
  .contact-links {
    text-align: center; } }
@media screen and (min-width: 620px) {
  .contact-links img {
    max-width: 40%;
    padding-right: 15px; } }
@media screen and (min-width: 1000px) {
  .about-me,
  .hey,
  .skills h1,
  .project-info h1,
  .contact-info h1 {
    font-size: 2em; }

  .general-info p,
  .contact-info label,
  .skills p,
  .contact-links a,
  .right-links a {
    font-size: 1.2em; }

  #teehee {
    font-size: 0.675em; }

  header {
    position: absolute;
    top: -15px;
    padding-left: 20px;
    font-size: 1.4em; }

  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

  nav li {
    padding-left: 30px; }

  nav a {
    display: block;
    font-size: 1.2em;
    margin-right: 15px; }

  #about {
    padding-top: 60px; }

  .project-boxes-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }

  .right-links a {
    font-size: 1em; } }
@media screen and (min-width: 1039px) {
  .project-boxes-1 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 20px; }

  .project-boxes-1 img {
    max-width: 100%; } }

/*# sourceMappingURL=index1.css.map */
